In [ ]:
!pip install -U featuretools

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Covid19/Covid-19-dataset/month-wise-data/Quoted_status/2021/Copy of may2021_quoted.csv')

In [ ]:
data[data['id_str']==1.391113e+18]

Empty DataFrame
Columns: [quoted_id_str, id_str, text, is_retweet, created_at, retweet_count, is_quote_status, quoted_status_id_str, quoted_status, favorite_count, media, tweet_hashtag, tweet_url, possibly_sensitive, favorited, retweeted, language, country_code, country, place_url, place_type, place_name, place_full_name, polygon_longitude_1, polygon_lattitude_1, polygon_longitude_2, polygon_lattitude_2, polygon_longitude_3, polygon_lattitude_3, polygon_longitude_4, polygon_lattitude_4, lattitude, longitude, user_id, user_name, screen_name, user_location, user_url, user_description, user_verification, user_followers, user_favorite_count(no. of tweets user liked), user_friend_count, user_list_count, user_statuses_count, user_created_at, source, truncated, in_reply_to_status_id_str, in_reply_to_user_id_str, in_reply_to_screen_name]
Index: []

In [ ]:


# path = "/content/drive/MyDrive/Capstone/Covid_2020_21/May2020/03may/dataset_hydrated.tsv"
# tsv_file = open(path)
# read_tsv = csv.reader(tsv_file, delimiter="\t")
line = 1
f = csv.writer(open('/content/drive/MyDrive/Capstone/Covid19/December2020/dec2020_quoted.csv', 'a'))
print('creating CSV version of minimized json master file') 
fields = ["quoted_id_str","id_str", "text", "is_retweet", "created_at", "retweet_count","is_quote_status", "quoted_status_id_str","quoted_status","favorite_count", "media", "tweet_hashtag", "tweet_url","possibly_sensitive", "favorited", "retweeted", "language", "country_code", "country","place_url",
        "place_type",
        "place_name",
        "place_full_name",
        "polygon_longitude_1",
        "polygon_lattitude_1",
        "polygon_longitude_2",
        "polygon_lattitude_2",
        "polygon_longitude_3",
        "polygon_lattitude_3",
        "polygon_longitude_4",
        "polygon_lattitude_4","lattitude", "longitude", "user_id", "user_name", "screen_name", "user_location", "user_url", "user_description", "user_verification", "user_followers", "user_favorite_count(no. of tweets user liked)", "user_friend_count","user_list_count","user_statuses_count","user_created_at", "source", "truncated", "in_reply_to_status_id_str", "in_reply_to_user_id_str", "in_reply_to_screen_name"]                
if os.path.getsize('/content/drive/MyDrive/Capstone/Covid19/December2020/dec2020_quoted.csv') == 0:
  f.writerow(fields) 


for date in li:
  path = "/content/drive/MyDrive/Capstone/Covid19/December2020/" + date + "dec/dataset_hydrated.tsv"
  print(date)
  with open(path) as read_tsv:
    for tweet in read_tsv:
      temp_data = json.loads(tweet)
      if(temp_data["is_quote_status"]):
        #  print(temp_data)
        if(quotedStatus(temp_data)):
            data = json.loads(tweet)["quoted_status"]
            # print(data)
            country = "";
            country_code ="";
            place_url ="";
            place_type="";
            place_name="";
            place_full_name="";
            polygon_longitude_1="";
            polygon_lattitude_1="";
            polygon_longitude_2="";
            polygon_lattitude_2="";
            polygon_longitude_3="";
            polygon_lattitude_3="";
            polygon_longitude_4="";
            polygon_lattitude_4="";
            lattitude = "";
            longitude = "";
            media_url = [];
            tweet_hashtags=[]
            tweet_urls=""
            if data['place']:
              country = data['place']['country']
              # print(country)
              country_code = data['place']['country_code']
              # print(country_code)
              place_url = data['place']['url']
              place_type = data['place']['place_type']
              place_name = data['place']['name']
              place_full_name = data['place']['full_name']
              try:
                data['place']['bounding_box']['coordinates'][0][0][0];
                data['place']['bounding_box']['coordinates'][0][0][1];
                data['place']['bounding_box']['coordinates'][0][1][0];
                data['place']['bounding_box']['coordinates'][0][1][1];
                data['place']['bounding_box']['coordinates'][0][2][0];
                data['place']['bounding_box']['coordinates'][0][2][1];
                data['place']['bounding_box']['coordinates'][0][3][0];
                data['place']['bounding_box']['coordinates'][0][3][1];
              except:
                pass
              else:
                polygon_longitude_1=data['place']['bounding_box']['coordinates'][0][0][0];
                polygon_lattitude_1=data['place']['bounding_box']['coordinates'][0][0][1];
                polygon_longitude_2=data['place']['bounding_box']['coordinates'][0][1][0];
                polygon_lattitude_2=data['place']['bounding_box']['coordinates'][0][1][1];
                polygon_longitude_3=data['place']['bounding_box']['coordinates'][0][2][0];
                polygon_lattitude_3=data['place']['bounding_box']['coordinates'][0][2][1];
                polygon_longitude_4=data['place']['bounding_box']['coordinates'][0][3][0];
                polygon_lattitude_4=data['place']['bounding_box']['coordinates'][0][3][1];
            if data['coordinates']:
              lattitude = data['coordinates']['coordinates'][1]
              longitude = data['coordinates']['coordinates'][0]
            if data["entities"]:
              try:
                data["entities"]["media"][0]["media_url"]
              except:
                pass
              else:
                for i in data["entities"]["media"]:
                  media_url.append(i['media_url'])
            
            if data["entities"]:
              try:
                data["entities"]["hashtags"][0]["text"]
              except:
                pass
              else:
                for i in data["entities"]["hashtags"]:
                  tweet_hashtags.append(i["text"])

            if data["entities"]:
              try:
                data['entities']['urls'][0]['url'];
              except:
                pass
              else:
                tweet_urls = data['entities']['urls'][0]['url'];
            
            user_id = data["user"]["id_str"],
            user_name = data["user"]["name"],
            user_description = data["user"]["description"],
            user_verification = data["user"]["verified"],
            user_followers = data["user"]["followers_count"],
            quoted_status_id_str = "";
            quoted_status=""
            try:
              data['quoted_status_id_str']
            except:
              pass
            else:
              quoted_status_id_str=data['quoted_status_id_str'];
              
            try:
              data['quoted_status']
            except:
              pass
            else:
              quoted_status = data['quoted_status']
            possibly_sensitive = ""
            try:
              data['possibly_sensitive']
            except:
              pass
            else:
              possibly_sensitive = data['possibly_sensitive']
              
            f.writerow([temp_data["id_str"],data["id_str"], data["full_text"], is_retweet(data), data["created_at"], data["retweet_count"],data['is_quote_status'],quoted_status_id_str,quoted_status,  data['favorite_count'],media_url,tweet_hashtags,tweet_urls,possibly_sensitive,data['favorited'],data['retweeted'],data['lang'], country_code, country,place_url,place_type,
            place_name,
            place_full_name,
            polygon_longitude_1,
            polygon_lattitude_1,
            polygon_longitude_2,
            polygon_lattitude_2,
            polygon_longitude_3,
            polygon_lattitude_3,
            polygon_longitude_4,
            polygon_lattitude_4, lattitude, longitude, user_id, user_name, data["user"]["screen_name"],data["user"]["location"],data["user"]["url"], user_description, user_verification,user_followers,data["user"]["favourites_count"],data["user"]["friends_count"],data["user"]["listed_count"],data["user"]["statuses_count"],data["user"]["created_at"], data["source"], data["truncated"], data["in_reply_to_status_id_str"], data["in_reply_to_user_id_str"],data["in_reply_to_screen_name"], ])

    # if(line == 10):
    #   break
    # line+=1

In [ ]:
quoted_20 = pd.read_csv('/content/drive/MyDrive/Covid19/Covid-19-dataset/year-wise-data/quoted_status2020.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,2,3,5,8,9,10,11,16,17,32,33,34,44,45,46,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
quoted_20.shape

(520650, 53)

In [ ]:
quoted21 = pd.read_csv('/content/drive/MyDrive/Covid19/new/quoted21_new')

In [ ]:
quoted21.shape

(454876, 51)

In [ ]:
quoted20[quoted20['quoted_id_str']==1391395127080505344]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, quoted_id_str, id_str, text, is_retweet, created_at, retweet_count, is_quote_status, quoted_status_id_str, quoted_status, favorite_count, media, tweet_hashtag, tweet_url, possibly_sensitive, favorited, retweeted, language, country_code, country, place_url, place_type, place_name, place_full_name, polygon_longitude_1, polygon_lattitude_1, polygon_longitude_2, polygon_lattitude_2, polygon_longitude_3, polygon_lattitude_3, polygon_longitude_4, polygon_lattitude_4, lattitude, longitude, user_id, user_name, screen_name, user_location, user_url, user_description, user_verification, user_followers, user_favorite_count(no. of tweets user liked), user_friend_count, user_list_count, user_statuses_count, user_created_at, source, truncated, in_reply_to_status_id_str, in_reply_to_user_id_str, in_reply_to_screen_name]
Index: []

In [ ]:
quoted21[quoted21['quoted_id_str']==1390145806804520963]

              quoted_id_str  ...  in_reply_to_screen_name
206501  1390145806804520963  ...                      NaN

[1 rows x 51 columns]

In [ ]:
quoted21.head()

   Unnamed: 0 Unnamed: 0.1  ... in_reply_to_user_id_str in_reply_to_screen_name
0           0            0  ...                     NaN                     NaN
1           1            1  ...                     NaN                     NaN
2           2            2  ...                     NaN                     NaN
3           3            3  ...                     NaN                     NaN
4           4            4  ...                     NaN                     NaN

[5 rows x 53 columns]

In [ ]:
file1 = open('/content/drive/MyDrive/Covid19/new/quoted20new.csv','a')

In [ ]:
file2 = open('/content/drive/MyDrive/Covid19/December2020/dec2020_quoted.csv','r')

In [ ]:
count=1
for line in file2:
  if count>1:
    file1.write(line)
    count+=1
  else:
    count+=1

In [ ]:
count=1
for line in file2:
  file1.write(line)

In [ ]:
quoted20 = pd.read_csv('/content/drive/MyDrive/Covid19/new/quoted20new.csv',engine='python',error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
Skipping line 550151: unexpected end of data

In [ ]:
quoted20.shape

(550149, 51)

In [ ]:
quoted20.head()

         quoted_id_str  ...  in_reply_to_screen_name
0  1219773383841157120  ...                      NaN
1  1219781294298750976  ...                      NaN
2  1220061134100652032  ...                      NaN
3  1220916876961820676  ...                      NaN
4  1221017523476365312  ...                      NaN

[5 rows x 51 columns]

In [ ]:
quoted21 = pd.read_csv('/content/drive/MyDrive/Covid19/new/quoted21_new')

In [ ]:
quoted21.head()

         quoted_id_str  ...  in_reply_to_screen_name
0  1344876362855710728  ...                      NaN
1  1344871992495783938  ...                      NaN
2  1344875212798570499  ...                      NaN
3  1344874197785300993  ...                      NaN
4  1344871424184340480  ...                      NaN

[5 rows x 51 columns]

In [ ]:
d = pd.read_csv('/content/drive/MyDrive/Covid19/May2021/may2021_quoted.csv')

In [ ]:
d.shape

(38826, 51)

In [ ]:
id = quoted20['id_str']
id1 = quoted21['id_str']

In [ ]:
my = pd.read_csv('/content/drive/MyDrive/Covid19/new/in_panacea_not_in_quoted.csv')

In [ ]:
di = my['IDs']

In [ ]:
di.shape

(96839,)

In [ ]:
count=0
for DI in di:
  if DI in id or DI in id1:
    count+=1

In [ ]:
print(count)

0