In [ ]:
import pandas as pd
import nltk
import numpy as np
import datetime
# from nltk.stem import PorterStemmer
# from nltk.stem import WordNetLemmatizer

In [ ]:
# lemmatizer = WordNetLemmatizer()

In [ ]:
data_events = pd.read_csv("/content/drive/MyDrive/Capstone/Events/events.csv")

In [ ]:
data_events.head()

       date                                              event
0  March 11  China places several cities, including Shangha...
1  March 11  Indian state of Maharastra, which was one of t...
2  March 10  UN High Commissioner for Human Rights calls fo...
3   March 9  Romania lifts all COVID-19 restrictions, inclu...
4   March 9  The United Nations International Children’s Em...

In [ ]:
countries = pd.read_csv('/content/drive/MyDrive/Capstone/FinalDataCovid.csv')

In [ ]:
country_list = list(countries['country'].unique())

In [ ]:
# stemmer = PorterStemmer()
# stemmed_country = []
# for x in country_list:
#   try:
#     stemmed_country.append(stemmer.stem(x))
#   except:
#     pass
# stemmed_country.head()

In [ ]:
# stemmed_country

In [ ]:
# if 'china' in stemmed_country:
#   print("China")

In [ ]:
year = []
for x in range(data_events.shape[0]):
  if(x<=103):
    year.append(2022)
  elif(x<=532):
    year.append(2021)
  else:
    year.append(2020)
data_events['year'] = year

In [ ]:
data_events.head()

       date                                              event  year
0  March 11  China places several cities, including Shangha...  2022
1  March 11  Indian state of Maharastra, which was one of t...  2022
2  March 10  UN High Commissioner for Human Rights calls fo...  2022
3   March 9  Romania lifts all COVID-19 restrictions, inclu...  2022
4   March 9  The United Nations International Children’s Em...  2022

In [ ]:
month_list = []
day_list = []

# Month_dict = {"January": 1, "February":2, "March": 3, "April":4, "May":5, "June":6, "July":7, "August":8, "September":9, "October":10, "November":11, "December":12}
for row in range(data_events.shape[0]):
  date = data_events.iloc[row]['date'].split()
  # print(date)
  month_list.append(date[0])
  day_list.append(date[1])

data_events['month'] = month_list
data_events['day'] = day_list

In [ ]:
# data_events = data_events.drop('date', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
Month_dict = {"January": 1, "February":2, "March": 3, "April":4, "May":5, "June":6, "July":7, "August":8, "September":9, "October":10, "November":11, "December":12}
month_list = []
for row in range(data_events.shape[0]):
  month_list.append(Month_dict[data_events.iloc[row]['month']])

data_events['month'] = month_list

In [ ]:
data_events.head()

,date,event,year,month,day
0,March 11,"China places several cities, including Shangha...",2022,3,11
1,March 11,"Indian state of Maharastra, which was one of t...",2022,3,11
2,March 10,UN High Commissioner for Human Rights calls fo...,2022,3,10
3,March 9,"Romania lifts all COVID-19 restrictions, inclu...",2022,3,9
4,March 9,The United Nations International Children’s Em...,2022,3,9

In [ ]:
# events_data = pd.to_datetime(dict(year=data_events['year'], month=data_events['month'], day=data_events['day']))

In [ ]:
new_date = []
for row in range(data_events.shape[0]):
  new_date.append(datetime.date(int(data_events.iloc[row]['year']), int(data_events.iloc[row]['month']), int(data_events.iloc[row]['day'])))

In [ ]:
data_events['date'] = new_date

In [ ]:
data_events

,date,event,year,month,day,country,new_date
0,2022-03-11,"China places several cities, including Shangha...",2022,3,11,[China],2022-03-11
1,2022-03-11,"Indian state of Maharastra, which was one of t...",2022,3,11,[India],2022-03-11
2,2022-03-10,UN High Commissioner for Human Rights calls fo...,2022,3,10,[UN],2022-03-10
3,2022-03-09,"Romania lifts all COVID-19 restrictions, inclu...",2022,3,9,[Romania],2022-03-09
4,2022-03-09,The United Nations International Children’s Em...,2022,3,9,"[UN, United Nation, United Nations]",2022-03-09
...,...,...,...,...,...,...,...
1617,2020-01-20,China’s CDC announces the coronavirus is categ...,2020,1,20,[China],2020-01-20
1618,2020-01-20,China confirms its fourth death from coronavir...,2020,1,20,[China],2020-01-20
1619,2020-01-20,South Korea confirms its first case.,2020,1,20,[South Korea],2020-01-20
1620,2020-01-20,Chinese state TV confirms the human-to-human t...,2020,1,20,[],2020-01-20
1621,2020-01-18,A third person dies from the coronavirus.,2020,1,18,[],2020-01-18

In [ ]:
# data_events = data_events.drop(['year', 'month', 'day', 'new_date'], axis = 1)

In [ ]:
data_events

,date,event,country
0,2022-03-11,"China places several cities, including Shangha...",[China]
1,2022-03-11,"Indian state of Maharastra, which was one of t...",[India]
2,2022-03-10,UN High Commissioner for Human Rights calls fo...,[UN]
3,2022-03-09,"Romania lifts all COVID-19 restrictions, inclu...",[Romania]
4,2022-03-09,The United Nations International Children’s Em...,"[UN, United Nation, United Nations]"
...,...,...,...
1617,2020-01-20,China’s CDC announces the coronavirus is categ...,[China]
1618,2020-01-20,China confirms its fourth death from coronavir...,[China]
1619,2020-01-20,South Korea confirms its first case.,[South Korea]
1620,2020-01-20,Chinese state TV confirms the human-to-human t...,[]
1621,2020-01-18,A third person dies from the coronavirus.,[]

In [ ]:
li = [1, 2, 1]
list(set(li))

[1, 2]

In [ ]:
newl = []
l2 = ['China', 'UN', 'United Nation', 'Africa', 'South Korea']
# for l in l2:
#   newl.append(stemmer.stem(l))
country_list.extend(l2)
set_country = set(country_list)
country_list = list(set_country)

In [ ]:
country_list[1]

'Greece'

In [ ]:
data_events.iloc[0]['event'].find()

0

In [ ]:
country_events = []
for x in data_events['event']:
    # print(x)
  # try:
    # single_event = stemmer.stem(x)
    # single_event = x.split()
    # events = []
    # for country in country_list:
    #   if country in single_event:
    #     events.append(country)
    # if(len(events) == 0):
    #   events.append('nan')
    # country_events.append(events)
    events = []
    for country in country_list[1:]:
      if(x.find(country) != -1):
        events.append(country)
    country_events.append(events)
  # except:
  #   pass

In [ ]:
country_events

In [ ]:
sum = 0
for x in range(data_events.shape[0]):
  if(data_events.iloc[x]['country'] == []):
    sum+= 1
print(sum)

563

In [ ]:
data_events['country'] = country_events
data_events.tail(50)

,date,event,country
1572,2020-01-29,United Arab Emirates confirms its first case.,[United Arab Emirates]
1573,2020-01-29,Finland confirms its first case.,[Finland]
1574,2020-01-29,"Several other airlines in North America, Europ...",[China]
1575,2020-01-29,A new study in the New England Journal of Medi...,[Germany]
1576,2020-01-29,The United States and Japan are the first coun...,"[Japan, United States]"
1577,2020-01-28,China announces it will admit a WHO team of ex...,[China]
1578,2020-01-28,Hong Kong and Mongolia announce partial closur...,"[Hong Kong, Mongolia, China]"
1579,2020-01-28,Japan and the United States evacuate their nat...,"[Japan, United States]"
1580,2020-01-28,United Airlines suspends all flights to China ...,"[United States, China]"
1581,2020-01-27,Wuhan suspends customs entry and exit services...,[]
1582,2020-01-27,Cambodia confirms its first case.,[Cambodia]
1583,2020-01-27,Sri Lanka confirms its first case.,[Sri Lanka]
1584,2020-01-27,Germany confirms its first case.,[Germany]
1585,2020-01-27,Wuhan mayor offers to resign.,[]
1586,2020-01-27,United States extends screening to twenty airp...,[United States]
1587,2020-01-26,China bans the trade of wild animals throughou...,"[country, China]"
1588,2020-01-26,United States confirms fourth and fifth cases ...,[United States]
1589,2020-01-25,Australia confirms its first case.,[Australia]
1590,2020-01-25,Canada confirms its first case.,[Canada]
1591,2020-01-25,"United States confirms its third case, a man i...",[United States]
1592,2020-01-25,First medical professional who had treated peo...,[]
1593,2020-01-24,Chinese CDC confirms 830 cases in mainland Chi...,[China]
1594,2020-01-24,The Chinese province of Heilongjiang confirms ...,[]
1595,2020-01-24,Nepal confirms its first case.,[Nepal]
1596,2020-01-24,Vietnam confirms its first case.,[Vietnam]
1597,2020-01-24,France confirms its first and second cases.,[France]
1598,2020-01-24,"The United States confirms its second case, a ...",[United States]
1599,2020-01-24,Malaysia confirms its first case.,[Malaysia]
1600,2020-01-24,China extends travel restrictions or quarantin...,[China]
1601,2020-01-24,Wuhan construction crews are working on two ho...,[]
1602,2020-01-23,Chinese CDC confirms 571 cases in mainland Chi...,[China]
1603,2020-01-23,China extends travel restrictions or quarantin...,[China]
1604,2020-01-23,WHO meets again and decides not to declare the...,[]
1605,2020-01-23,Singapore confirms its first case.,[Singapore]
1606,2020-01-22,North Korea closes its borders to all foreign ...,[North Korea]
1607,2020-01-22,Chinese officials confirm the virus may mutate.,[]
1608,2020-01-22,Chinese CDC confirms a total of 440 cases in m...,[China]
1609,2020-01-22,Macau confirms its first case.,[Macau]
1610,2020-01-22,The World Health Organization (WHO) meets to d...,[]
1611,2020-01-21,United States confirms its first case in Washi...,[United States]
1612,2020-01-21,"China confirms two additional deaths, a 66-yea...",[China]
1613,2020-01-21,"New cases are announced in China, including in...",[China]
1614,2020-01-21,Chinese state media raises number of confirmed...,[]
1615,2020-01-21,"Hong Kong confirms its first case, a person in...",[Hong Kong]
1616,2020-01-21,"Taiwan confirms its first case, a woman in her...",[Taiwan]
1617,2020-01-20,China’s CDC announces the coronavirus is categ...,[China]
1618,2020-01-20,China confirms its fourth death from coronavir...,[China]
1619,2020-01-20,South Korea confirms its first case.,[South Korea]
1620,2020-01-20,Chinese state TV confirms the human-to-human t...,[]
1621,2020-01-18,A third person dies from the coronavirus.,[]

In [ ]:
data_events.iloc[1614]['event']

'Chinese state media raises number of confirmed cases to 291 and confirms 15 medical workers in Wuhan have been diagnosed with pneumonia.'

In [ ]:
data_events.iloc[1610]['event']

'The World Health Organization (WHO) meets to discuss whether to declare the outbreak an international health emergency.'

In [ ]:
data_events.iloc[4]['event']

'The United Nations International Children’s Emergency Fund (UNICEF) released a report on the Impact of COVID-19 on the welfare of households with children that shows a major decrease in families’ earnings.'

In [ ]:
data_events.iloc[37]['event']

'The World Health Organization announces Egypt, Kenya, Nigeria, Senegal, South Africa, and Tunisia to be the first six countries to receive the technology needed to produce mRNA vaccines in Africa.'

In [ ]:
data_events.to_csv("/content/drive/MyDrive/Capstone/Events/events2.csv", index=False)